<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-5" href="#">Controle de Viagens</a>
    <a class="navbar-brand my-2 my-sm-0 mr-5" style="color:lightgray" href="#">Nova Viagem</a>
  </nav>

  <div class="card">
    <div class="card-header">
      Minhas Viagens
    </div>
    <div class="card-body">
        <form class="form-inline">
        <div class="form-group col-12 ml-auto mb-3" style="text-align:center">
            <label>Destino</label>
            <input type="text" class="form-control" formControlName="nome" />
        </div >
        <div class="form-group col-12 ml-auto mb-3">
            <label>Tipo</label>
            <input type="text" class="form-control" formControlName="nome" />
        </div>
        <div class="form-group col-12 mb-3">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="nome" />
        </div >
    </form>
    </div>
  </div>
  