<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-5" href="#">Controle de Viagens</a>
    <a class="navbar-brand my-2 my-sm-0 mr-5" style="color:lightgray" href="#">Nova Viagem</a>
  </nav>
  <div class="card">
    <div class="card-header">
      Minhas Viagens
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col-2">Destino</th>
            <th scope="col-2">Tipo</th>
            <th scope="col-2">Data de Chegada</th>
            <th scope="col-2">Data de saída</th>
            <th scope="col-2"></th>
            <th scope="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{viagens[0].destino}}</td>
            <td>{{viagens[0].tipo}}</td>
            <td>{{viagens[0].dataDeChegada}}</td>
            <td>{{viagens[0].dataDeSaida}}</td>
            <td><a class="btn btn-secondary" href="localhost:4200/detalhes"  role="button">Detalhes</a></td>
            <td><a class="btn btn-warning" href="localhost:4200/exclusao" role="button">Excluir</a></td>
          </tr>
          <tr>
            <td>{{viagens[1].destino}}</td>
            <td>{{viagens[1].tipo}}</td>
            <td>{{viagens[1].dataDeChegada}}</td>
            <td>{{viagens[1].dataDeSaida}}</td>
            <td><a class="btn btn-secondary" href="#" role="button">Detalhes</a></td>
            <td><a class="btn btn-warning" href="localhost:4200/exclusao" role="button">Excluir</a></td>
          </tr>
          <tr>
            <td>{{viagens[2].destino}}</td>
            <td>{{viagens[2].tipo}}</td>
            <td>{{viagens[2].dataDeChegada}}</td>
            <td>{{viagens[2].dataDeSaida}}</td>
            <td><a class="btn btn-secondary" href="#" role="button">Detalhes</a></td>
            <td><a class="btn btn-warning" href="localhost:4200/exclusao" role="button">Excluir</a></td>
          </tr>
          <tr>
            <td>{{viagens[3].destino}}</td>
            <td>{{viagens[3].tipo}}</td>
            <td>{{viagens[3].dataDeChegada}}</td>
            <td>{{viagens[3].dataDeSaida}}</td>
            <td><a class="btn btn-secondary" href="#" role="button">Detalhes</a></td>
            <td><a class="btn btn-warning" href="localhost:4200/exclusao" role="button">Excluir</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  