<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-5" href="#">Controle de Viagens</a>
    <a class="navbar-brand my-2 my-sm-0 mr-5" style="color:lightgray" [routerLink]="['/novaviagem']">Nova Viagem</a>
  </nav>
  <div class="card">
    <div class="card-header">
      Minhas Viagens
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col-2">Destino</th>
            <th scope="col-2">Tipo</th>
            <th scope="col-2">Data de Chegada</th>
            <th scope="col-2">Data de saída</th>
            <th scope="col-2"></th>
            <th scope="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of viagens">
            <td>{{e.destino}}</td>
            <td>{{e.tipo}}</td>
            <td>{{e.dataDeChegada}}</td>
            <td>{{e.dataDeSaida}}</td>
            <td><a class="btn btn-secondary" [routerLink]="['/detalhes']" role="button">Detalhes</a></td>
            <td><a class="btn btn-warning" [routerLink]="['/exclusao']" role="button">Excluir</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
